:root {
  --color1: #001219;
  --color2: #005f73;
  --color3: #3d9397;
  --color4: #94d28d;
  --color5: #e9d8a6;
  --color6: #ee9800;
  --color7: #ca6702;
  --color8: #bb3e03;
  --color9: #ae2012;
  --color10: #9b2226;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dbe5de;
  padding: 0;
  margin: 0;
}

section {
  max-width: 1200px;
  margin: 0 auto 5rem auto;
  padding: 0 1rem;
}

section h2 {
  font-size: 2.5rem;
}

section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color2);
}

.header {
  background-color: var(--color5);
}

header {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

nav ul li:first-child {
  flex-basis: 100%;
}

nav ul li:not(:first-child) {
  flex-basis: 24%;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color1);
  display: block;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
}

nav ul li img {
  max-width: 100%;
}

.footer {
  background-color: var(--color5);
}

footer {
  padding: 3rem;
  display: flex;
  flex-flow: column wrap;
  max-width: 1200px;
  margin: 0 auto;
}

footer h4 {
  margin-top: 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

footer li {
  margin-right: 1rem;
}

footer address {
  font-style: normal;
  margin-top: 2rem;
  font-weight: bold;
}

#donut img {
  width: 100%;
}

#donut ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.d3 {
  grid-row: 1/2;
}

@media (min-width: 550px) {
  section ul,
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  section li,
  .social,
  address {
    flex-basis: 49.5%;
  }

  footer address {
    margin-top: 0;
  }

  nav ul {
    justify-content: center;
  }

  nav ul li:not(:first-child) {
    flex-basis: 24%;
    background-color: transparent;
  }

  nav ul li a {
    color: var(--color1);
  }
}

@media (min-width: 800px) {
  nav ul {
    flex-flow: row;
  }

  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    order: 1;
    flex-basis: 10%;
  }

  nav ul li:first-child {
    order: 2;
    flex-basis: auto;
    margin: 0 auto;
  }

  nav ul li:nth-child(4),
  nav ul li:nth-child(5) {
    order: 3;
    flex-basis: 10%;
  }

  section h2 {
    margin-left: 100px;
  }
  section li,
  .social {
    flex-basis: 32.5%;
  }

  address {
    flex-basis: 65.5%;
  }

  #donut ul {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .d1 {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .d2 {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  .d3 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .d4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .d5 {
    grid-column: 2/3;
    grid-row: 3/6;
  }
  .d3 img,
  .author {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .d3 img {
    opacity: 0.2;
  }
  .author {
    padding: 1rem;
    z-index: 1000;
  }
}
